form {
    display: flex;
  }
  
  input[type="text"] {
    padding: 5px;
    width: 200px;
  }
  
  button[type="submit"] {
    padding: 5px 10px;
    background-color: #e74949;
    color: #fff;
    border: none;
  }
  